doctype html
html
	head
		meta(charset='UTF-8')
		script(src='/lib/jquery-2.1.3.min.js')
		script(src='/socket.io/socket.io.js')
		link(href='/lib/bootstrap/3.3.4/css/bootstrap.min.css' rel='stylesheet')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")          
		script(src='/lib/bootstrap/3.3.4/js/bootstrap.min.js')
		title Chat!
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js')
		script(src='/javascript/chat.js')
		link(rel='stylesheet' href='/css/chat.css')
		link(rel='stylesheet' href='/css/fonts.css')
		link(rel='stylesheet' href='/css/bubbles.css')
		script(src='/lib/mousetrap.min.js')
		script(src='/javascript/keyboard-shortcuts.js')
		script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
	body
		script.
			var data = {
				matchId: '#{partner._id}',
				partnerId: '#{partner.person._id}',
				messages: !{messages},
				lastUpdate: '#{Date.now()}',
				photoUrl: '#{partner.person.photos[0].url}'
			}



		.timer.hidden
			.flashing
			.inner          

		.header
			.row
				.col-xs-2.text-center
					h1
						i.fa.fa-arrow-left.fat
				.col-xs-8.text-center
						h1.
							<img class="face main-man" src="#{partner.person.photos[0].url}"> <span class="partner-name">#{partner.person.name}</span>
				.col-xs-2.text-center
					h1
						i.fa.fa-ellipsis-h.fat
	
		.chat-screen         
			for item in partner.messages   
				if item.from == partner.person._id
					.message.remote
						.face-container
							|<img class="face" src="#{partner.person.photos[0].url}">
						.message-container
							.message.triangle-isosceles.left
								|#{item.message}
				else
					.message.local
						.message-container
							.message.triangle-isosceles.right
								|#{item.message}
						.face-container
							|<img class="face #{item.character}">

		.inputs
			.input-bar.sexy(data-character='sexy')
				.row
					.col-xs-12.text-center
						.character.sexy
						.send-message
							textarea.phrase.sexy.user-input(type='text'   data-character='sexy' placeholder='Message' disabled='true').form-control
							input.submit(type='submit' value='Send' data-character='sexy').btn.btn-send

			.input-bar.princess(data-character='princess')
				.row
					.col-xs-12.text-center
						.character.princess
						.send-message
							textarea.phrase.princess.user-input(type='text' data-character='princess'  placeholder='Message' disabled='true').form-control
							input.submit(type='submit' value='Send' data-character='princess').btn.btn-send

			.input-bar.feminist(data-character='feminist')
				.row
					.col-xs-12.text-center
						.character.feminist
						.send-message
							textarea.phrase.feminist.user-input(type='text'  data-character='feminist' placeholder='Message' disabled='true').form-control
							input.submit(type='submit' value='Send' data-character='feminist').btn.btn-send


		.error
			h1 Lost connection to server!
			h2 Messages will be queued and sent on reconnection

		.debug.hidden
			div(class='col-xs-12')
				h1 Chatting with #{partner.person.name}
				div
					p=partner._id
					p=partner.person.bio
					p.category